body {
    margin: 7vh 0 0 0;
    background-image: url(../img/background2.png);
    background-attachment: scroll;
    background-size: 100%;
}

#lesson-nav>.dropdown-item {
    z-index: 0;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1 !important;
    z-index: 100 !important;
}

.lesson-hdr {
    font-size: 5vh;
    padding-top: 1vh;
    padding-bottom: 4vh;
    margin: 0;
}

.lesson-hdr+a {
    border-bottom: 1vh;
    border-color: aqua;
}

.entry {
    /* background: green; */
    user-select: none;
    cursor: pointer;
}

.hieroglyph {
    /* background-color: purple; */
    font-size: 3vh;
    padding: 0 0 0 5%;
    /* visibility: hidden; */
    top: 0;
    display: inline-block;
    vertical-align: top;
}

.translation {
    /* background-color: red; */
    font-size: 3vh;
    max-width: 50%;
    top: 0;
    display: inline-block;
    vertical-align: middle;
}

#lesson-nav {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
}

.lesson-nav-menu {
    max-height: 30vh;
    overflow-y: scroll;
}

.tricky-anchor {
    display: block;
    content: "";
    height: 7vh;
    margin: -7vh 0 0;
}

.entry-hr {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 24%, rgba(255, 255, 255, 0) 67%);
}

.word_container {
    background-color: #fff;
    padding: 0 0 0 5vh;
}


/* FADEIN AND FADEOUT ANIMATIONS */

.fade-in {
    animation: fadeIn ease 1000ms;
    -webkit-animation: fadeIn ease 1000ms;
    -moz-animation: fadeIn ease 1000ms;
    -o-animation: fadeIn ease 1000ms;
    -ms-animation: fadeIn ease 1000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 1000ms;
    -webkit-animation: fadeOut ease 1000ms;
    -moz-animation: fadeOut ease 1000ms;
    -o-animation: fadeOut ease 1000ms;
    -ms-animation: fadeOut ease 1000ms;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content-container {
    width: 90%;
    background: #fff;
    text-align: center;
    padding-top: 4vh;
    min-height: 93vh;
}

.my-img {
    width: 100%;
    height: auto;
}


/* CARDS */

.entry-card {
    /* position: relative; */
    margin: 0 auto;
    width: 300px;
    height: 300px;
    transition: 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: pointer;
}

.entry-card-content {
    width: 300px;
    height: 300px;
}

.entry-card-content>div {
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: table;
}

.entry-card-content>div>p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.flip {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: collapse;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* СТРЕЛОЧКИ */

.arrow {
    display: inline-block;
}

.arrow-left-2,
.arrow-right-2,
.arrow-top-2,
.arrow-bottom-2 {
    margin: 20px 8px;
    width: 80px;
    height: 80px;
    padding: 0 20px 0 20px;
}

.arrow-left-2 path,
.arrow-right-2 path,
.arrow-top-2 path,
.arrow-bottom-2 path {
    fill: #939699;
    stroke-width: .6;
    stroke: #000;
    transition: fill 0.5s ease-out;
    cursor: pointer;
}

.arrow-left-2 {
    transform: rotate(180deg);
}

.arrow-top-2 {
    transform: rotate(270deg);
}

.arrow-bottom-2 {
    transform: rotate(90deg);
}

.arrow-left-2 path:hover,
.arrow-right-2 path:hover,
.arrow-top-2 path:hover,
.arrow-bottom-2 path:hover {
    fill: #000;
}